.workspace {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .workspace-header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .theme-pallette {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;

        > div {
            padding: 10px;
        }
    }
}