html, body, #root {
    height: 100%;
    margin: 0;
    font-family: "Lucida Console", courier, sans-serif;;
}
.workspace {
    display:flex;
    min-height: 100%;
}

.column {

    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 30%;
    min-height: 200px;
    background: #f1f1f1;
    margin-right: 10px;
    padding: 10px;
    &.dragging {
        background: #ddd;
    }
    >* {
        padding: 10px;
        border: 1px solid rgb(29, 40, 138);
        background: #fff;
        margin-bottom: 5px;
        &.dragging {
            background:#96d5e9
        }
    }
}